
body {
	padding-top: 70px;
}

.navbar-header .navbar-brand {
	font-family:'Tillana', cursive;
	font-size: 25px;
}

.list-group-item h4 {
	font-family:'Source Sans Pro', sans-serif;
}

.panel h4 {
	font-family:'Source Sans Pro', sans-serif;
}

#map-canvas {
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
  margin-top: 50px;
}

.navbar-brand {
	padding-top: 10px;
}

.itinerary h4 {
	/*width: 60%;
	margin: 0;*/
	display: inline-block;
}

/*.itinerary {
	display: inline-block;
}*/
.form-control#sel1 {
	width:90%;
	margin: 0px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
	margin-left: 2px;
	border:0px solid transparent;
}

.form-group .btn {
	float: right; 
}

.container {
	margin-left: 50px;
	margin-right: 50px;
}



.panel {
	width: 50%;
	/*z-index: 3;*/
	opacity: 0.9;
}

