<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TripPlanner</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARDjTGweaYG4Kzf3Y2S-9sLxmrtwOc43o&sensor=true"></script>
    <link href="/stylesheet.css" rel="stylesheet">
    <script src='/map.js'></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TripPlanner</a>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "row">
      <div class = "col-lg-7">
        <div id="map-canvas" class="map">
        </div>
      </div>
      <div class = "col-lg-5 clearfix">
        <div class="panel panel-default">
              <div class="panel-heading">
                  <h3>Selections</h3></div>
              <div class="panel-body">
                      <h4>Hotels</h4>
                      <select>
                          {%for hotel in hotels %}
                          <option value="{{hotels.name}}">{{hotel.name}}</option>
                          {% endfor %}
                      </select>
                      <h4>Restaurants</h4>
                      <select>
                          {%for restaurant in restaurants %}
                          <option value="{{restaurants.name}}">{{restaurant.name}}</option>
                          {% endfor %}
                      </select>
                      <h4>Activities</h4>
                      <select>
                          {%for activity in activities %}
                          <option value="{{activities.name}}">{{activity.name}}</option>
                          {% endfor %}
                      </select>
              </div>
          </div>
      </div>
    </div>
</body>




</html>
