<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TripPlanner</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARDjTGweaYG4Kzf3Y2S-9sLxmrtwOc43o&sensor=true"></script>
    <link href="/stylesheet.css" rel="stylesheet">
    <script src='/map.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Tillana:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-plane"></span>  TripPlanner</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/contact">Home</a></li>
                    <li><a href="/contact">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="map-canvas" class="map">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>
                                <h4>HOTELS</h4></label>
                            <br>
                            <div class="input-group">
                                <select class="form-control">
                                    {%for hotel in hotels %}
                                    <option value="{{hotels.name}}">{{hotel.name}}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <h4>RESTAURANTS</h4></label>
                            <br>
                            <div class="input-group">
                                <select class="form-control">
                                    {%for restaurant in restaurants %}
                                    <option value="{{restaurants.name}}">{{restaurant.name}}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <h4>ACTIVITIES</h4></label>
                            <br>
                            <div class="input-group">
                                <select class="form-control">
                                    {%for activity in activities %}
                                    <option value="{{activities.name}}">{{activity.name}}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="itinerary">
                            <h4>ITNERARY: DAY 2</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">2</button>
                            <button type="button" class="btn btn-default">3</button>
                            <button type="button" class="btn btn-default">4</button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Get that thing examined at a cool NYC doctor!</li>
                        <li class="list-group-item">Make new friends under the W-burg Bridge!</li>
                        <li class="list-group-item">Dumpster dive behind fancy restaurants to get free food. Yum!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
